body {
    background-color: #eee !important;
}

.btn-login {
    width: 105px !important;
}

.badge {
    padding-left: 4px;
    padding-right: 4px;
    opacity: 0.7;
    border-radius: 8px;
}

.lowPriority {
    background-color: green;
}

.mediumPriority {
    background-color: yellow;
}

.highPriority {
    background-color: red;
}

.text-decoration-none {
    text-decoration: none !important;
}


